services:
  - type: web
    name: oral-imaging-backend
    env: docker
    dockerfilePath: ./backend/Dockerfile
    dockerContext: ./backend
    envVars:
      - key: PORT
        value: 8000
      - key: FRONTEND_URL
        value: https://pangil.vercel.app
